dist
node_modules
.npm-cache
package-lock.json
android/app/build
android/app/google-services.json
android/.gradle
ios/build
ios/*/Images*
src/graphql/types
src/graphql/schema.json
patches/*
.eslintignore
android/app/build.gradle
android/build.gradle
